// nextflow.config
params {
    outdir      = "results_nf"
    max_len     = 512
    batch_size  = 16
    cv          = 5
    all_taxa    = false
}

timeline {
    enabled = true
    file    = "${params.outdir}/execution/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/execution/report.html"
}
